* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f00e65;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  div.container {
    text-align: center;
  }
  
  h1 {
    padding-bottom: 50px;
    color:white;
    text-align: center;
    font-size: 18px;
    font-family:  sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
  }
  
  .color-range {
    -webkit-appearance: none;
    width: 380px;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .color-range::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  .color-range::-webkit-color-swatch {
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px #df18182a;
  }
  
